/* General search bar container */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

/* Input wrapper for styling */
.search-input-wrapper {
  margin-right: 10px;
}

/* Style for the search input field */
.search-input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}

/* Button style */
.btn-search {
  padding: 10px ;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.btn-search:hover {
  background-color: #0056b3;
}

/* Icon next to the search button */
.search-icon {
  margin-right: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .search-bar-container {
      flex-direction: column;
      align-items: stretch;
  }

  .search-input {
      width: 100%;
      margin-bottom: 10px;
  }

  .btn-search {
      width: 100%;
  }
}
